In [1]:
from TQLRunnerT5 import TQLRunner

In [2]:
tqlRunner = TQLRunner('yelp')

All libraries loaded
LLM Model initialized

In [3]:
input_text = 'How many reviews are there in the database'
tqlRunner.get_SQL_query(input_text)

SQL query for: How many reviews are there in the database with tables: CREATE TABLE review (rid number, business_id text, user_id text, rating number, text text, year number, month text) which has rid as primary key

'SELECT count(*) FROM review'

In [4]:
input_text = 'How many businesses are there in "Vegas"'
tqlRunner.get_SQL_query(input_text)

SQL query for: How many businesses are there in "Vegas" with tables: CREATE TABLE business (bid number, business_id text, name text, full_address text, city text, latitude text, longitude text, review_count number, is_open number, rating number, state text) which has bid as primary key

'SELECT count(*) FROM business WHERE city = "Vegas"'

In [5]:
tqlRunner = TQLRunner('college_2')

All libraries loaded
LLM Model initialized

In [6]:
tqlRunner.get_SQL_query('What are the room numbers and corresponding buildings for classrooms which can seat between 50 to 100 students?')

SQL query for: What are the room numbers and corresponding buildings for classrooms which can seat between 50 to 100 students? with tables: CREATE TABLE classroom (building text, room_number text, capacity number) which has building as primary key and CREATE TABLE student (ID text, name text, dept_name text, tot_cred number) which has ID as primary key and CREATE TABLE section (course_id text, sec_id text, semester text, year number, building text, room_number text, time_slot_id text) which has course_id as primary key

'SELECT room_number, building FROM classroom WHERE capacity BETWEEN 50 AND 100'

In [7]:
tqlRunner.get_SQL_query('How many professors are there in chem department')

SQL query for: How many professors are there in chem department with tables: CREATE TABLE department (dept_name text, building text, budget number) which has dept_name as primary key

"SELECT count(*) FROM department WHERE dept_name = 'chem'"

In [8]:
# tqlRunner.get_SQL_query('How many professors are there in chem dept')

In [9]:
tqlRunner.get_SQL_query('students name beginning with "Nam"')

SQL query for: students name beginning with "Nam" with tables: CREATE TABLE student (ID text, name text, dept_name text, tot_cred number) which has ID as primary key and CREATE TABLE course (course_id text, title text, dept_name text, credits number) which has course_id as primary key and CREATE TABLE instructor (ID text, name text, dept_name text, salary number) which has ID as primary key

"SELECT name FROM student WHERE name LIKE 'Nam'"

In [10]:
tqlRunner.get_SQL_query('What is the name and building of the departments whose budget is more than the average budget?')

SQL query for: What is the name and building of the departments whose budget is more than the average budget? with tables: CREATE TABLE department (dept_name text, building text, budget number) which has dept_name as primary key and CREATE TABLE instructor (ID text, name text, dept_name text, salary number) which has ID as primary key and CREATE TABLE student (ID text, name text, dept_name text, tot_cred number) which has ID as primary key

'SELECT dept_name, building FROM department WHERE budget > (SELECT avg(budget) FROM department)'

In [11]:
tqlRunner = TQLRunner('student_assessment')

All libraries loaded
LLM Model initialized

In [15]:
tqlRunner.get_SQL_query('What are the id of students who registered courses or attended courses?')

SQL query for: What are the id of students who registered courses or attended courses? with tables: CREATE TABLE courses (course_id text, course_name text, course_description text, other_details text) which has course_id as primary key and CREATE TABLE student course attendance (student_id number, course_id number, date_of_attendance time) which has student_id as primary key and CREATE TABLE student course registrations (student_id number, course_id number, registration_date time) which has student_id as primary key

'SELECT student_id FROM student_course_registrations AS T1 JOIN student_course_attendance AS T2 ON T1.student_id = T2.student_id'